* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', sans-serif;
  background-color: #f8f9fa;
  padding: 30px;
  background-image: linear-gradient(to right, rgb(84, 84, 235), rgb(165, 165, 231));
}

form {
  margin: auto;
  background-color: white;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  width: 50%;
}

form label {
  display: block;
  margin-bottom: 15px;
  font-weight: 500;

}

form label input,
form select {
  display: block;
  width: 100%;
  margin-top: 8px;
  padding: 10px;
  font-size: 16px;
  border-radius: 6px;
  border: 1px solid #ccc;
  transition: border-color 0.3s ease;
}

form input:focus,
form select:focus {
  border-color: #007bff;
  outline: none;
}

#dynamicFields {
  margin-top: 20px;
}

button[type="submit"] {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 12px 20px;
  font-size: 16px;
  border-radius: 6px;
  cursor: pointer;
  margin-top: 20px;
  transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
  background-color: #0056b3;
}

@media only screen and (min-width: 320px) and (max-width: 580px) {
  form {
    margin: auto;
    background-color:aliceblue;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 100% !important;
  }

}