*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: lightgrey;
}
header{
    background-color: coral;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}
header p{
    font-size: 40px;
    font-weight: bold;
}
header nav ul{
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    justify-content: space-evenly;
    align-items: center;
}
header nav ul li a{
    padding-left: 10px;
    text-decoration: none;
    color: black;
    font-size: medium;
    font-weight: bold;
}
.parent-content{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 90vh;
}
.sidebar{
    width: 20%;
    background-color: grey;
}
.content{
    width: 80%;
}
footer{
    background-color: coral;
    height: 50px;
    text-align: center;
    padding-top:1%;
}
footer p{
    font-size:medium;
    font-weight: bold;
    color: black;
}