header{
    background-color: white;
    width: 97%;
    margin-left: 1%;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline-start: 10px;
    margin-top: 1%;
}
.logo p{
    font-size: 30px;
    font-weight: bold;
}
.nav ul{
    display: flex;
    list-style-type: none;
    
}

.nav ul li a{
    text-decoration: none;
    color: #333;
    padding: 15px;
}
body {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    background-color: grey;
    color: #333;
  }
  

  .blog-container {
    max-width: 800px;
    margin: 2rem auto;
    padding: 1.5rem;
    background-color: #ffffff;
    box-shadow: 0 2px 10px rgba(0,0,0,0.05);
    border-radius: 8px;
  }
  

  .title {
    font-family: 'Merriweather', serif;
    font-size: 2.5rem;
    margin-bottom: 0.5rem;
    color: #222;
  }
  
  .subtitle {
    font-family: 'Merriweather', serif;
    font-size: 1.5rem;
    font-weight: 400;
    margin-bottom: 1.5rem;
    color: #666;
  }
  

  .content p {
    font-size: 1.125rem;
    line-height: 1.8;
    margin-bottom: 1.2rem;
  }

  footer{
    background-color: white;
    width: 98%;
    height: 50px;
    margin-left: 1%;
    margin-bottom: 1%;
    text-align: center;
    border-radius: 15px;
  }
  footer p{
    padding-top: 1%;
    font-weight: bold;
  }
  

  @media (max-width: 600px) {
    .title {
      font-size: 1.8rem;
    }
  
    .subtitle {
      font-size: 1.2rem;
    }
  
    .content p {
      font-size: 1rem;
    }
  }
  