*{
    margin: 0;
    padding: 0;
    box-sizing: borde
    r-box;
}
body{
    background-color: lightgrey;

}
.contact{
    background-color: rgb(100, 100, 235);
    width: 35%;
    margin: auto;
    margin-top: 5%;
    height: auto;
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: 0px 0px 10px black;
    padding: 20px;
}
#contact-head{
    text-align: center;
    border-bottom: 2px solid black;
    width: 100%;
    color: white;
}
.contact-fields p{
    margin-top: 4%;
    font-size: large;
    font-weight: bold;
    color: white;
}
.contact-fields input{
    width: 100%;
    height: 35px;
    border: none;
    border-radius: 10px;
    padding: 5px;
    font-size: medium;
    font-weight: bold;
    outline: none;
}
.contact-fields textarea{
    width: 100%;
    border: none;
    border-radius: 10px;
    padding: 5px;
    font-size: medium;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    outline: none;
}
.btn{
    margin-top: 2%;
    width: 100%;

}
#btnSubmit{
    width: 100%;
    height: 40px;
    border: none;
    border-radius: 10px;
    font-size: large ;
    font-weight: bold;
    background-color: rgb(30, 43, 158);
    box-shadow: 0px 0px 5px white;
    color: white;
}
#btnSubmit:hover{
    background-color: rgb(46, 61, 228);
    transition: 0.3s ease;
}